<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header', {sectionName: sectionName}); %>
    </header>
    <main>

      <table border="0" cellspacing="4" cellpadding="4" width="450" align="center">
	<tr>
	  <td valign="top">
	    <p>
	      Wally is now selling postcards and greeting cards, with these twelve
	      images on them. If you have any special requests, please contact us.
	      All cards come with envelopes; pricing is below.
	    </p>
	    <table border="0" cellpadding="4" cellspacing="4" width="90%" align="center">
	      <tr>
		<td>
		  <h4><a name="ToC1">Postcards:</a></h4>
		  <p>
		    <b>1 - 49:</b> $1.50 ea<br>
		    <b>50 - 500:</b> $1.25 ea<br>
		    <b>500+:</b> Negotiable
		  </p>
		</td>
		<td>
		  <h4><a name="ToC2">Greeting Cards:</a></h4>
		  <p>
		    <b>1 - 49:</b> $2.50 ea<br>
		    <b>50 - 500:</b> $2.00 ea<br>
		    <b>500+:</b> Negotiable
		  </p>
		</td>
	      </tr>
	    </table>
	    <table border="0" cellpadding="4" cellspacing="4" width="90%" align="center">
	      <tr>
		<td colspan="3" align="center"><h4>Postcards</h4></td>
	      </tr>
	  <% pcList.forEach(function(pc, i, arr){ %>
	    <% if (i % 3 == 0) { %>
	      <tr>
	    <% } %>
	        <td align="center">
		  <a href="/cards/<%- pc %>">
		    <img src="/images/cards/<%- pc %>-sml.jpg" border="0">
		    <br>
		    <%- pc %>
		  </a>
		</td>
	    <% if (i % 3 == 2) { %>
	      </tr>
	    <% } %>
	  <% }); %>
	    </table>
	    <table border="0" cellpadding="4" cellspacing="4" width="90%" align="center">
	      <tr>
		<td colspan="3" align="center"><h4>Greeting Cards</h4></td>
	      </tr>
	      <% tcList.forEach(function(tc, i, arr){ %>
	    <% if (i % 3 == 0) { %>
	      <tr>
	    <% } %>
	        <td align="center">
		  <a href="/cards/<%- tc %>">
		    <img src="/images/cards/<%- tc %>-sml.jpg" border="0">
		    <br>
		    <%- tc %>
		  </a>
		</td>
	    <% if (i % 3 == 2) { %>
	      </tr>
	    <% } %>
	  <% }); %>
	    </table>
	    <br>
	  </td>
	</tr>
      </table>
      
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
</body>
</html>
