<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header', {sectionName: sectionName}); %>
    </header>
    <main>
      <table border="0" cellspacing="4" cellpadding="4" width="450" align="center">
	<tr>
	  <td valign="top">
	    <div align="center">
	      <h4><%- sketchId %></h4>
	      <img src="/images/sketches/jpg/<%- sketchId %>.jpg" alt="<%- sketchId %>.jpg" height="200" width="124" border="0"/>
	      <br>
	      <br>
	      <br>
	      <p>
		Back to the
		<a href="/sketches/">
		  Sketches
		</a>
		page.
	      </p>
	    </div>
	    <br>
	  </td>
	</tr>
      </table>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
</body>
</html>
