<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header', {sectionName: sectionName}); %>
    </header>
    <main>
      <table border="0" cellspacing="4" cellpadding="4" width="450" align="center">
	<tr>
	  <td valign="top">
	    <p>These are some of Wally's sketches. Some are watercolors, some pen
	      and ink. They vary in size from 3x5 to 5.5x8.5. Most or all of
	      these will become
	      <a href="/cards">
		cards
	      </a>
	      in the future - if there are certain images you'd like to see as cards, let me know.
	    </p>
	    <p>
	      You can also buy the original sketches. Prices range from $150 - $250.
	    </p>
	    <table border="0" width="450">
	    <% sketchList.forEach(function(sl, i, arr){ %>
	      <% if (i % 5 == 0) { %>
	      <tr>
	      <% } %>
		<td align="center" valign="middle">
		  <a href="/sketches/<%- sl %>">
		    <img src="/images/sketches/thumbnails/<%- sl %>-sml.png" alt="<%- sl %>.png" title="<%- sl %>.png" height="72" width="45" border="0"/>
		    <p align="center">
		      <%- sl %>
		    </p>
		  </a>
		</td>
	      <% if (i % 5 == 4) { %>
	      </tr>
	      <% } %>
	    <% }); %>
	    </table>
	    <br>
	  </td>
	</tr>
      </table>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
</body>
</html>
